html,
body,
div,
ul,
li,
a,
nav,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}
a {
  text-decoration: none;
}
nav.pc {
  position: fixed;
  top: 7.5%;
  right: 4%;
  z-index: 9;
  width: 44%;
}
nav.pc .logoPic.pc {
  position: fixed;
  top: 6%;
  left: 5%;
}
nav.pc > .pc {
  position: relative;
  width: 100%;
  list-style: none;
}
nav.pc > .pc > li {
  position: relative;
  display: inline-block;
  width: 15%;
  height: 24px;
}
nav.pc > .pc > li:nth-child(5),
nav.pc > .pc > li:nth-child(6) {
  width: 17%;
}
nav.pc > .pc > li > a {
  position: relative;
  display: block;
  width: 100%;
  height: 24px;
  line-height: 24px;
  color: red;
  text-align: center;
}
nav.pc > .pc > li > a span {
  display: block;
  width: 100%;
  position: absolute;
  transition: opacity 0.1s;
}
nav.pc > .pc > li > a span.en {
  font-size: 14px;
  opacity: 1;
}
nav.pc > .pc > li > a span.cn {
  font-size: 16px;
  opacity: 0;
}
nav.pc > .pc > li .dropDown {
  position: absolute;
  top: 105%;
  left: 5%;
  display: none;
  width: 90%;
  padding: 5px 0;
  list-style: none;
  transition: display 0.1s;
  background-color: transparent;
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
nav.pc > .pc > li .dropDown > li {
  margin-top: 3px;
  width: 100%;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
nav.pc > .pc > li .dropDown > li > a {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: red;
}
nav.pc > .pc > li .dropDown > li > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.main.pc .screens {
  transition: all 0.8s cubic-bezier(0.9, 0, 1, 1);
}
.main.pc .screens > li {
  overflow: hidden;
  position: relative;
  list-style: none;
}
.main.pc .screens > li.aboutUs > div > img {
  width: 100%;
}
.main.pc .screens > li.aboutUs :nth-child(4) {
  position: absolute;
  top: 23%;
  left: 19%;
  width: 4%;
  height: 40%;
  opacity: 0;
}
.main.pc .screens > li.aboutUs :nth-child(5) {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 37%;
  height: 41%;
  opacity: 0;
}
.main.pc .screens > li.aboutUs :nth-child(6) {
  position: absolute;
  top: 70%;
  left: 15%;
  width: 25%;
  height: 8%;
}
.main.pc .screens > li.genuine > div > img {
  width: 100%;
}
.main.pc .screens > li.genuine :nth-child(4) {
  position: absolute;
  top: 25%;
  left: 20%;
  width: 6.5%;
}
.main.pc .screens > li.genuine :nth-child(5) {
  position: absolute;
  top: 32%;
  left: 38%;
  width: 22%;
}
.main.pc .screens > li.genuine :nth-child(6) {
  position: absolute;
  top: 25%;
  left: 73%;
  background: transparent;
  font-size: 25px;
  color: #fff;
}
.main.pc .screens > li.idea > div > img {
  width: 100%;
}
.main.pc .screens > li.idea :nth-child(4) {
  position: absolute;
  top: 26%;
  left: 32%;
  width: 10%;
}
.main.pc .screens > li.idea :nth-child(5) {
  position: absolute;
  top: 30%;
  left: 45%;
  width: 22%;
}
.main.pc .screens > li.idea :nth-child(6) {
  position: absolute;
  top: 5%;
  left: 58%;
  width: 17%;
}
.main.pc .screens > li.tech > div > img {
  width: 100%;
}
.main.pc .screens > li.tech :nth-child(4) {
  position: absolute;
  top: 37%;
  left: 35%;
  width: 6%;
}
.main.pc .screens > li.tech :nth-child(5) {
  position: absolute;
  top: 20%;
  left: 46%;
  width: 18%;
}
.main.pc .screens > li.sell > div > img {
  width: 100%;
}
.main.pc .screens > li.sell :nth-child(4) {
  position: absolute;
  top: 27%;
  left: 34%;
  width: 9%;
}
.main.pc .screens > li.sell :nth-child(5) {
  position: absolute;
  top: 46%;
  left: 36%;
  width: 15.5%;
}
.main.pc .screens > li.sell :nth-child(6) {
  position: absolute;
  top: 25%;
  left: 56%;
  width: 6%;
}
.main.pc .screens > li.sell :nth-child(7) {
  position: absolute;
  top: 38%;
  left: 53%;
  width: 10%;
}
.main.pc .screens > li.case #bg6_1 {
  width: 30%;
}
.main.pc .screens > li.case #bg6_1 :nth-child(2) {
  left: 50%;
  width: 26%;
}
.main.pc .screens > li.case #bg6_2 {
  width: 20%;
}
.main.pc .screens > li.case #bg6_2 :nth-child(2) {
  left: 30%;
  width: 38%;
}
.main.pc .screens > li.case #bg6_3 {
  width: 20%;
}
.main.pc .screens > li.case #bg6_3 :nth-child(2) {
  left: 30%;
  width: 38%;
}
.main.pc .screens > li.case #bg6_4 {
  width: 30%;
}
.main.pc .screens > li.case #bg6_4 :nth-child(2) {
  left: 24%;
  width: 25%;
}
.main.pc .screens > li.case > div > a {
  overflow: hidden;
  position: relative;
}
.main.pc .screens > li.case > div > a :nth-child(2) {
  position: absolute;
  top: 34%;
}
.main.pc .screens > li.case > div > a :nth-child(2) img {
  width: 100%;
}
.main.pc .screens > li.case > div > a > img {
  transition: transform 0.3s;
}
.main.pc .screens > li.case > div > a:hover > img {
  transform: scale(1.2);
}
.main.pc .screens > li.partners > dl {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}
.main.pc .screens > li.partners > dl dt {
  height: 25%;
}
.main.pc .screens > li.partners > dl dt img {
  height: 100%;
}
.main.pc .screens > li.partners > dl dd {
  position: relative;
  width: 100%;
  height: 75%;
}
.main.pc .screens > li.partners > dl dd > ul {
  position: relative;
  width: 100%;
  height: 100%;
  list-style: none;
}
.main.pc .screens > li.partners > dl dd > ul > li {
  float: left;
  margin-right: 2%;
  width: 23%;
  height: 33%;
}
.main.pc .screens > li.partners > dl dd > ul > li div {
  position: relative;
}
.main.pc .screens > li.partners > dl dd > ul > li div img {
  position: absolute;
}
.main.pc .screens > li .bgPic {
  display: block;
  width: 100%;
}
.main.pc .screens > li .bgPic a {
  float: left;
}
.main.pc .screens > li .bgPic a img {
  display: block;
  width: 100%;
  height: 100%;
}
.main.pc .screens > li .derivatives {
  position: absolute;
  bottom: 13%;
  left: 5%;
  z-index: 2;
  width: 0.8%;
}
.main.pc .screens > li .derivatives img {
  width: 100%;
}
.main.pc .screens > li .num {
  position: absolute;
  top: 87%;
  left: 19%;
  z-index: 2;
  font-size: 14px;
  color: red;
}
.main.pc #dots {
  position: fixed;
  top: 30%;
  right: 5%;
  width: 0.8%;
  list-style: none;
}
.main.pc #dots li {
  overflow: hidden;
  margin-top: 18px;
  border: 1px solid red;
  border-radius: 50%;
  text-indent: -999em;
  transition: transform 0.8s linear,opacity 0.4s linear;
}
.main.pc #dots li.cur {
  position: absolute;
  border: 1px solid transparent;
  background: red;
}
.main.pc #btns {
  position: fixed;
  bottom: 13%;
  right: 5%;
  width: 4%;
}
.main.pc #btns div {
  position: absolute;
  width: 30%;
  transition: transform 0.1s;
}
.main.pc #btns div:nth-child(1) {
  left: 0;
}
.main.pc #btns div:nth-child(2) {
  right: 0;
}
.main.pc #btns div:hover {
  transform: scale(1.2);
}
.main.pc #btns div img {
  width: 100%;
}
nav {
  display: none;
}
nav.mobile {
  position: relative;
  z-index: 9999;
}
nav.mobile .navbar {
  padding: 10px 0;
  border-radius: 0;
}
nav.mobile .navbar .navbar-brand {
  padding-top: 0;
}
nav.mobile a {
  color: red;
}
nav.mobile span.icon-bar {
  background-color: red;
}
.main.mobile {
  width: 100%;
  height: auto;
}
.main.mobile > div {
  position: relative;
  height: auto;
}
.main.mobile #tab1 .tab-text {
  top: 5%;
}
.main.mobile #tab2 .tab-text,
.main.mobile #tab4 .tab-text {
  top: 35%;
  color: #eee;
}
.main.mobile #tab3,
.main.mobile #tab5 {
  margin-bottom: 100px;
}
.main.mobile #tab3 .tab-text,
.main.mobile #tab5 .tab-text {
  position: relative;
}
.main.mobile #tab6 {
  border-top: 1px solid #999;
  padding-top: 30px;
}
.main.mobile #tab6 > a {
  padding-bottom: 30px;
  text-align: center;
  color: #333;
}
.main.mobile #tab6 > div {
  overflow: hidden;
  position: relative;
  height: auto;
}
.main.mobile #tab6 > div > a {
  position: relative;
  display: block;
  width: 49%;
  height: auto;
}
.main.mobile #tab6 > div > a img:nth-child(1) {
  position: relative;
  width: 100%;
}
.main.mobile #tab6 > div > a img:nth-child(2) {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 30%;
}
.main.mobile #tab6 > div > a:nth-child(3) {
  margin-top: 10px;
}
.main.mobile #tab6 > div > a:nth-child(2n) {
  position: absolute;
  left: 49%;
  margin-left: 2%;
}
.main.mobile #tab6 > div > a:nth-child(2) {
  top: 0;
}
.main.mobile #tab6 > div > a:nth-child(4) {
  bottom: 0;
}
.main.mobile #tab7 {
  margin-top: 100px;
}
.main.mobile #tab7 > a {
  text-align: center;
  color: #333;
}
.main.mobile #tab7 > div {
  margin-top: 50px;
  padding-bottom: 100px;
  text-indent: 4em;
}
.main.mobile #tab7 > div p {
  margin-top: 20px;
}
.main.mobile #tab7 > p {
  text-indent: 4em;
}
.main.mobile .tab-bg {
  width: 100%;
}
.main.mobile .tab-text {
  position: absolute;
  left: 5%;
  width: 90%;
  text-align: center;
  opacity: 0;
  transition: all 0.6s;
  transform: translateY(200px);
}
.main.mobile a {
  text-decoration: none!important;
}
.main.mobile a:hover {
  color: red;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}
