ul {
  list-style: none;
}
.s_banner {
  display: none;
}
.con {
  margin-top: 40%;
  background-color: #fff;
  z-index: 9;
  position: relative;
}
.text {
  padding-top: 50px;
}
.text .title {
  margin-bottom: 70px;
}
.text .title h1 {
  font-size: 75px;
  font-weight: bold;
}
.text .title p {
  font-size: 18px;
  font-weight: bold;
  color: #666;
}
.text .title span {
  display: inline-block;
  width: 30px;
  height: 5px;
  background: black;
}
.text ul {
  margin: 0px 0 40px;
}
.text ul li {
  margin: 0 0 10px;
  color: #777;
  font-weight: bold;
}
.text .des {
  font-size: 10px;
  line-height: 2em;
  margin-bottom: 60px;
  color: #A0A0A0;
}
.text .map {
  margin-bottom: 100px;
}
.text .map img {
  width: 100%;
}
@media (max-width: 767px) {
  .s_banner {
    display: block;
  }
  .con {
    margin-top: 64%;
  }
  .text .map {
    margin-bottom: 0px;
  }
}
body {
  font-family: "微软雅黑";
}
.inputt input {
  border: none;
  border-bottom: 1px solid #D0D0D0;
  margin-bottom: 10px;
  margin-left: 54px;
  line-height: 40px;
  outline: none;
}
.inputt .last {
  line-height: 100px;
}
.submit {
  border: 1px solid #D0D0D0;
  width: 200px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 100px;
}
#nav_ul li {
  width: 129px;
}
.s-nav {
  background-color: #fff;
  margin-bottom: 0;
  position: fixed;
  z-index: 99;
  width: 100%;
}
.s-nav #s-nav {
  padding-top: 15px;
}
.s-nav .container-fluid {
  height: 69px;
}
.s-nav .navbar-brand {
  padding: 0 15px;
}
.s-nav li {
  width: 100px;
}
.s-nav li a {
  text-align: center;
  padding: 15px 20px;
  transition: all 2s;
}
.s-nav li:nth-child(5) {
  width: 112px;
}
.s-nav li:nth-child(6) {
  width: 133px;
}
.s-nav .dropdown-menu {
  min-width: 100px;
}
